[flake8]
max-line-length = 120
max-complexity = 10
# E772 - do not use bare except
# E402 - module level import not at top of file: (isort)
# W503 line break before binary operator
ignore = E722, E402, W503
